{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>班级管理系统</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="{% static 'plugins/bootstrap-datetimepicker-1.9.0/css/bootstrap-datetimepicker.css' %}">
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker-1.9.0/js/bootstrap-datetimepicker.js' %}"></script>
    <script
        src="{% static 'plugins/bootstrap-datetimepicker-1.9.0/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
</head>

<body>
    <div class="divbar navbar-default" style="height: 80px; display:flex; justify-content:center">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img alt="Brand" src="{% static 'img/logo.png' %}" width="50"
                        height="50"></a>
                <a class="navbar-brand" href="#"
                    style="font-size: 30px; font-color: rgb(0, 0, 0); margin-right: 20px; margin-top:15px">班级管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="font-size: 20px; font-color: gray;display: inline-block; margin-top:15px">
                    <li><a href="../">课表管理</a></li>
                    <li><a href="/show/">显示界面</a></li>
                    <li><a href="/index_display/">修改显示课程</a></li>
                    <li><a href="/index_matter/">修改事项</a></li>
                    <li><a href="/index_attendant/">修改值日生</a></li>
                    <li><a href="/settings/">背景设置</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> 修改课程 </h3>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group col-xs-6">
                            <label class="col-sm-2 control-label">课程名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="课程名称" name="classname"
                                    value="{{ row_object.classname }}">
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>